body{
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

#header{
  height: 120px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #61dafb;
}

#logo{
  width: 30%;
  font-size: 30px;
  float: left;
  margin: 35px;
}

#logo img{
  display: block;
  float: left;
  height: 60px;
  margin-top: -10px;
  margin-right: -10px;
  animation: girar infinite 30s linear;
  -webkit-animation: girar infinite 30s linear;
}

@keyframes girar {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@-webkit-keyframes girar{
0%   {}
100% {-webkit-transform: rotate(-360deg);}
}

#brand{
  display: block;
  margin: 0px;
  float: left;
}

.center{
  width: 75%;
  margin: 0px auto;
}

.clearfix{
  clear: both;
  float: none;
}

#menu{
  margin-top: -125px;
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul{
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li{
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a{
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover{
  color: #3cb2d3 !important;
}

.active{
    font-weight: bold;
    color: #3cb2d3 !important;
}

#slider{
  width: 100%;
  height: 350px;
  /* line-height: 320px; */
  color:white;
  text-shadow: 0px 0px 5px #444;
  /*gradiente*/
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 3%, rgba(60,145,232,1) 19%, rgba(36,127,229,1) 50%, rgba(32,124,229,1) 55%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(3%, rgba(73,155,234,1)), color-stop(19%, rgba(60,145,232,1)), color-stop(50%, rgba(36,127,229,1)), color-stop(55%, rgba(32,124,229,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 3%, rgba(60,145,232,1) 19%, rgba(36,127,229,1) 50%, rgba(32,124,229,1) 55%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 3%, rgba(60,145,232,1) 19%, rgba(36,127,229,1) 50%, rgba(32,124,229,1) 55%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 3%, rgba(60,145,232,1) 19%, rgba(36,127,229,1) 50%, rgba(32,124,229,1) 55%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 3%, rgba(60,145,232,1) 19%, rgba(36,127,229,1) 50%, rgba(32,124,229,1) 55%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}

#slider h1{
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 140px;
  text-align: center;
}

.btn-white{
  color: rgb(88, 88, 88);
  display: block;
  background:white;
  padding: 10px;
  width: 100px;
  height: 35px;
  margin: 0px auto;
  font-size: 18px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 35px;
  box-shadow: 0px 0px 5px #444;
  margin-top: 40px;
  border-radius: 4px;
  transition: 300ms all;
}

.btn-white:hover{
  background: #444;
  color: white;
}

#slider.slider-small{
  height: 150px;
}

#slider.slider-small h1{
  margin-top: 0.2px;
  padding: 0px;
  padding-top: 50px;
  /* text-align: center; */
}

#content{
  width: 70%;
  float: left;
  /* border: 1px solid red; */
  min-height: 650px;
  margin-right: 20px;
}

#main{
  /*  */
  min-height: calc(100vh - 124px - 70px);
}

#sidebar{
  width: 25%;
  float: left;
  /* border: 1px solid green; */
}

.sidebar-item{
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
}

.sidebar-item h3{
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 3px solid #ccc;
}

.sidebar-item .btn{
  margin: 0px auto;
  margin-top: 10px;
}

.article-item button{
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
  min-width: 150px;
  text-align: left;
  /* max-width: 1; */
}

.btn{
  display: block;
  background: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  max-width: 120px;
  transition: 500ms all;
  border:none;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section .btn-success{
  margin-bottom: 50px;
}

.btn-success{
  background: rgb(23, 150, 19);
}

.btn-warning{
  /* background: rgb(207, 194, 9); */
  background: rgb(238, 165, 6);
  color: white !important;
  text-decoration: none;
}

.btn-danger{
  /* background: rgb(150, 19, 19); */
  background: rgb(201, 21, 21);
  color: white !important;
  text-decoration: none;
}

.btn-warning:hover,
.btn-danger:hover{
  transition: all 300ms;
  opacity: 0.8;
}

.btn-success:hover{
  background: black;
}

.btn-disabled,
.btn-disabled:hover{
  background: gray !important;
  color: darkgray !important;

  /* display: none !important; */
}

input[type="text"], 
textarea{
  width: 100%;
  min-height: 30px;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 5px;
}

input[type="text"]:focus,
textarea:focus{
  box-shadow: 0px 0px 5px #eee inset;
}

textarea{
  width: 100%;
  height: 150px;
  min-width: 100%;
  max-width: 100%;
  max-height: 300px;
  min-height: 150px;
}

.radiobuttons{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}

.mid-form{
  width: 50%;
  margin: 0px auto;
}

.mid-form label{
  display: block;
  float: left;
  text-align: left;
  margin-bottom: 5px;
  font-size: 17px;
}

#footer{
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p{
  margin: 0px;
  padding: 0px;
}

.article-item{
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-item .image-wrap{
  width: 130px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img{
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

.article-item h2{
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date{
  display: block;
  width: 100%;
  color: rgb(122, 122, 122);
}

.article-item a{
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 10px;
}


.article-item a:hover{
  /* text-decoration: underline; */
}

.image-wrap .image-uploader{
  width: 270px !important;
  text-align: center;
  margin-bottom: 10px;
}

.subheader{
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.article-detail .image-wrap{
  float: none;
  width: 100%;
  height: 300px;
}

.article-detail .image-wrap img{
  width: 100%;
  height: auto;
}

.article-detail .subheader{
  margin-top: 15px;
  margin-bottom: 0px;
  border: none;
}

.srv-validation-message{
  font-size: 13.5px;
}

/* responsive */
@media(max-width: 1507px){
  .center{
      width: 85%;
  }
}

@media(max-width: 1329px){
  .center{
      width: 95%;
  }

  #menu ul{
      width: auto;
  }
}

@media(max-width: 823px){
  #logo{
      width: 85%;
  }

  #logo img{
      /* width: 85%; */
      /* height: 50px; */
  }
  /* #menu{
  } */
}

@media(max-width: 797px){
  #logo{
      float: none;
      width: 240px;
      margin: 0px auto;
      margin-top: 20px;
  }

  #menu, 
  #menu ul{
      clear: both;
      float: none;
      width: 100%;
      margin: 0px;
      padding: 0px;
      line-height: 45px;
  }

  #content{
      float: none;
      width: 100%;
  }

  #sidebar{
      float: none;
      width: 60%;
      margin: 0px auto;
      margin-bottom: 50px;
  }

  #slider h1{
      padding-top: 115px;
      font-size: 25px;
  }

  .mid-form{
      width: 80%;
  }
}

@media(max-width: 499px){
  #header{
      min-height: 130px;
      overflow: hidden;
  }

  #menu,
  #menu ul{
      line-height: 50px;
  }

  #menu,
  #menu ul li{
      margin-left: 7px;
      margin-right: 7px;
  }

  #slider{
      height: 180px;

  }

  #slider h1{
      font-size: 19px;
      padding-top: 30px;
  }

  #slider .btn-white{
      margin-top: 20px;
  }

  #slider .slider-small{
      height: 100px;

  }

  #slider .slider-small h1{
      padding-top: 35px;
      
  }

}


